include _mixins/subscribe-block
extends _lay/root

block  body
	.head
		.container
			.logo
			button.btn.btn-outline.register-btn(type='button') Подписаться на новости

			h1
				strong XXX
				| &nbsp;— сервис по поиску курортов
				small Здоровье бесценно. Доверяйте лучшим!

			.counter
				.legend До начала работы сервиса осталось:
				.count

			include _inc/subscribe-form
	.container
		h2.benefits XXX — это гид по курортам России
			small Здоровье бесценно! Доверяйте лучшим!

		each b in benefits
			.pros(class=b.i)= b.t

		h2.specifies Все санатории, пансионаты и гостиницы
			small Которые собраны на XXX

		each s in specifies
			.pros(class=s.i)
				span= s.t

	+subscribe-block(2)

	.container.reasons
		h2 5 причин использовать XXX
			small При планировании отдыха

		.r1
			h3 Вы экономите время
			p Вам больше не надо выискивать информацию на разных сайтах, читать противоречивые отзывы и стараться определить, какой санаторий или пансионат вам подойдет.
			p На kurort.guru собрана наиболее полная база по лучшим санаториям, пансионатам и гостиницам популярных российских курортов.

		.r2
			h3 Вы выбираете среди проверенных вариантов
			p Вам не придется тратить время и деньги на звонки в каждый санаторий или пансионат. Мы проверили каждый объект, прежде чем предложить его вам. Мы сравнили фотографии номеров и территории, оценили расположение и цены, а также узнали, все ли заявленные услуги предоставляются клиентам.

			include _inc/register-btn

	+subscribe-block(3)

	.container.reasons
		.r3
			h3 Вы отдыхаете, как планировали
			p Вам не надо открывать десятки разных сайтов, чтобы сравнить несколько объектов. На сайте доступен подбор санаториев и пансионатов по 200 критериям. Вы смотрите, есть ли спа-зона, детская комната, тренажерный зал, рестораны, бассейны или парковая территория. Вы видите точное местоположение объекта на карте. На kurort.guru вам предоставлена полная информация.

		.r4
			h3 Вы легко находите то, что вам нужно
			p Удобный интерфейс и оптимальная структура сайта позволяют быстро найти десятки мест отдыха, которые подходят под ваши требования. Вы отбираете предложения и находите подходящий вариант всего за несколько минут.
			p В рамках одного сайта вы сравниваете и выбираете лучший вариант из свободных на нужные вам даты.

			include _inc/register-btn

		.r5
			h3 Вы экономите деньги
			p Вы бронируете отобранный санаторий или пансионат напрямую без посредников. Вам больше не нужны турфирмы, чтобы подобрать для себя и своей семьи идеальное место для отдыха.

			include _inc/register-btn

		.gallery
			each i in gallery
				- var hk = i == 'happy-kids'
				img(src=_shared.base + 'img/photos/' + i + '.jpg',class=hk ? 'big' : '')
			.clearfix

	+subscribe-block(4)

	footer
		.container
			| © 2016, XXX Inc
	if(_env == 'PRODUCTION')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/inputmask/inputmask.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/inputmask/inputmask.extensions.min.js')
	else
		script(src='/assets/jquery/jquery.js')
		script(src='/assets/magnific-popup/jquery.magnific-popup.js')
		script(src='/assets/jquery.inputmask/inputmask/inputmask.js')
		script(src='/assets/jquery.inputmask/inputmask/inputmask.extensions.js')
	script(src=_shared.base + 'js/index.js')
	script(type='text/html',id='popup-tpl')
		include _inc/popup